<%= simple_format(@message) %>

<div style="display: flex; justify-content: center; margin-top: 80px; margin-bottom: 30px;">
  <div style="
    background-color: #005ffe;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 500;
    padding: 14px 19px;
    width: 175px;
    text-align: center;
    cursor: pointer;
  ">
    <a target="_blank" style="text-decoration: none; color: #FFFFFF; cursor: pointer;" href=<%="#{ENV["HOST_URL"]}#{@cta_url}"%>>
      <%= @cta_text %>
    </a>
  </div>
</div>