@media screen {
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/exo/v11/4UaZrEtFpBI4f1ZSIK9d4LjJ4lM3OwpmPQ.woff') format('woff'), url('https://fonts.gstatic.com/s/exo/v11/4UaZrEtFpBI4f1ZSIK9d4LjJ4lM3OwpmOw.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.gstatic.com/s/exo/v11/4UaZrEtFpBI4f1ZSIK9d4LjJ4mE3OwpmPQ.woff') format('woff'), url('https://fonts.gstatic.com/s/exo/v11/4UaZrEtFpBI4f1ZSIK9d4LjJ4mE3OwpmOw.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.gstatic.com/s/exo/v11/4UaZrEtFpBI4f1ZSIK9d4LjJ4rQwOwpmPQ.woff') format('woff'), url('https://fonts.gstatic.com/s/exo/v11/4UaZrEtFpBI4f1ZSIK9d4LjJ4rQwOwpmOw.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    src: url('https://fonts.gstatic.com/s/exo/v11/4UaZrEtFpBI4f1ZSIK9d4LjJ4tMwOwpmPQ.woff') format('woff'), url('https://fonts.gstatic.com/s/exo/v11/4UaZrEtFpBI4f1ZSIK9d4LjJ4tMwOwpmOw.woff2') format('woff2');
  }
}