<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://kit.fontawesome.com/a95e98212b.js" crossorigin="anonymous"></script>
  </head>

  <body style="
    font-family: arial,helvetica,sans-serif;
    display: flex;
    background-color: #F4F4F4;"
  >
    <div style="
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      "
    >
      <div style="
        background-color: #ffffff;
        display: flex;
        padding: 20px;"
      >
        <div style="
          margin-left: auto; margin-right: auto
        ">
          <%= image_tag image_path("LynchPyn-Logo_Horizontal-Blue"), height: 59, width: 168 %>
        </div>
      </div>
      <div style="
        background-color: #ffffff;
        color: #000000;
      ">
        <% if @greeting != "" %>
        <strong style="
					font-size: 22pt;
					padding: 5px 32px 30px;
				">
					<%= @greeting || "Let's Get Things Done!" %>
				</strong>
        <% end %>
				<div style="
					padding: 32px;
          line-height: 22.4px;
				">
					<%= yield %>
				</div>
      </div>
      <div style="
        background-color: #022F7B;
        padding: 20px;
      ">
        <div style="
          color: #ECF0F1;
          font-size: 10pt;
          width: 100%;
        ">
          <p style="line-height: 19.2px; height: 22.4px; text-align: center">
            You are receiving this email because you signed up for LynchPyn
          </p>
          <p style="line-height: 19.2px; height: 22.4px; margin-top: 22.4px; text-align: center">
            421 Applewood Crescent, Concord, ON
          </p>
          <p style="line-height: 19.2px; height: 22.4px; text-align: center">
            <a style="
              color: #15c;
              font-weight: 500;
              background-color: inherit;
              padding: inherit;"
              href="<%= "#{ENV["HOST_URL"]}/account" %>">Manage Notifications
            </a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
